/* @VARIABLES */
/* ********** */



// tamano Tipografia

$letraGrande:50px;
$letraMedia:25px;
$letraPeque:12px;

$grosor:400;
// Colores


$colores:(
    amarillo:#F5C54B,
    blanco:#FAFAFA,
    negro:#1D1C19
);